API_HTTP_PORT=8080

POSTGRES_DB=garageflow
POSTGRES_USER=garageflow
POSTGRES_PASSWORD=garageflow
POSTGRES_PORT=5432

SONARQUBE_PORT=9000
SONAR_DB_NAME=sonar
SONAR_DB_USER=sonar
SONAR_DB_PASSWORD=sonar

SONAR_HOST_URL=http://localhost:9000
SONAR_PROJECT_KEY=GarageFlow
SOLUTION_FILE=GarageFlow.slnx
BUILD_CONFIGURATION=Release
# SONAR_TOKEN=
